## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                         	[mcu] section
## Thermistor types                      [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## PID tune                              [extruder] and [heater_bed] sections
## Fine tune E steps                     [extruder] section

## For wiring directions please see https://docs.vorondesign.com/build/electrical/sw_miniE3_v20_wiring.html

## Webclient config files. Uncomment one depending on UI being used.
[include mainsail.cfg]
[include stealthburner_leds.cfg]
[include config_backup.cfg]
[exclude_object]
[force_move]
enable_force_move: True

#Bed screws adjust using the probe
[screws_tilt_adjust]
screw1: 23,3
screw1_name: front left screw
screw2: 23,175
screw2_name: rear left screw
screw3: 195,175
screw3_name: rear right screw
screw4: 195,3
screw4_name: front right screw
speed: 500
horizontal_move_z: 10
screw_thread: CW-M4

[scanner]
#canbus_uuid: 0ca8d67388c2            
#adjust to suit your scanner 
serial: /dev/serial/by-id/usb-Cartographer_614e_1E0002000543303459323220-if00
x_offset: 0                          
#adjust for your offset
y_offset: 18.5                    
#adjust for your offset
calibration_method: touch 
sensor: cartographer
sensor_alt: carto
#alternate name to call commands. CARTO_TOUCH  etc
scanner_touch_z_offset: 0.05         
#this is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_main_direction: x

[adxl345]
cs_pin: scanner:PA3
#spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20
    
[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[mcu]
###Change to device found by "ls -l /dev/serial/by-id/" with just one this MCU connected to Pi
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_030032001350415833323520-if00

#####################################################################
# 	X Stepper Settings
#####################################################################

######
# Motor -XM
# Endstop - X-STOP
###############
[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
#endstop_pin: ^PC0
endstop_pin: ^PC1
#endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 219
position_min: 0
position_max: 219
homing_speed: 40
#homing_positive_dir: true
homing_retract_dist: 0
[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Y Stepper Settings
#####################################################################

######
# Motor -YM
# Endstop - Y-STOP
###############
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
## Ucomment one of the following:
## Switch-based endstop for Y
#endstop_pin: ^!PC1
endstop_pin: ^PC0
## Sensorless endstop for Y
#endstop_pin: tmc2209_stepper_y:virtual_endstop
#homing_retract_dist: 0 # Uncomment this line too
position_endstop: 0
position_min: 0
position_max: 230
homing_speed: 40
#homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.5
interpolate: False
stealthchop_threshold: 0
## Uncomment if using sensorless Y homing.
#driver_SGTHRS: 120 # tune this once it's working.

#####################################################################
# 	Z Stepper Settings
#####################################################################

######
# Motor -ZAM
# Endstop - Z-STOP
###############
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
homing_speed: 40
position_min: -8.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
interpolate: False
stealthchop_threshold: 0

#####################################################################
#   Extruder Settings
#####################################################################

######
#Motor - EM
###############
[extruder]
# E0_STEP_PIN        PB3
# E0_DIR_PIN         PB4
# E0_ENABLE_PIN      PB1
# E0_UART_RX         PC11
# E0_UART_TX         PC10
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PC8
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#Set appropriate once tuning your printer
#pressure_advance: .05
##	Default is 0.040, leave stock
# pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 100.0

[tmc2209 extruder]
#uart_pin: PC11
#tx_pin: PC10
#uart_address: 3
run_current: 0.7
hold_current: 0.3
#interpolate: False
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false

#####################################################################
# 	Bed Heater
#####################################################################

######
# BED Connector
###############
[heater_bed]
heater_pin: PC9
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 130
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

######
#Z Max Connector on Z(main) Board
#Inductive Probe
###############
#[probe]
##      If your probe is NO instead of NC, add change pin to !z:P1.24
#pin: ^PC2
#x_offset: 0
#y_offset: 25
#z_offset: 0
#samples: 3
#samples_result: median
#sample_retract_dist: 3
#samples_tolerance: 0.006
#samples_tolerance: 0.03
#samples_tolerance_retries: 3

#####################################################################
# 	Fan Control
#####################################################################

######
# Electronics Fan
# FAN1 Connector
###############
[controller_fan my_controller_fan]
pin: PC7 
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed

######
# Hot End Fan
# FAN2 Connector
###############
[heater_fan extruder_fan]
pin: PB15
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

######
# Part Cooling Fan
# FAN0 Connector
###############
[fan]
pin: PC6  # "FAN0"
cycle_time: .08
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
kick_start_time: .25

#####################################################################
#   Homing and Bed Mesh
#####################################################################
[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    G28 X0 Y0
    G0 X125 Y125 F9000
    G28 Z0
    G0 Z5 F500
    
[bed_mesh]
speed: 500
horizontal_move_z: 5
mesh_min: 20,20
mesh_max: 200,200
probe_count: 20,20
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
zero_reference_position: 125, 125    # set this to your touch_location or middle of your bed

#####################################################################
# 	Displays
#####################################################################
## 	For the mini12864 Display, the [display] and [neopixel] must be uncommented
# mini12864 LCD Display
# connected to exp1/2
#[display]
##    mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: PB8
#a0_pin: PB15
#rst_pin: PB9
#encoder_pins: ^PA9,^PA10
#click_pin: ^!PB5
#contrast: 63
#spi_software_sclk_pin: PA5
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
#menu_reverse_navigation: True

#[neopixel fysetc_mini12864]
##	To control Neopixel RGB in mini12864 display
## Remember with these ones, you'll need to remove the connector header on the LCD for EXT1 + 2
## (it slides off) and reverse it for it to work on your SKR (1.3 and 1.4) board
#pin: PA15
#chain_count: 3
#initial_RED: 1
#initial_GREEN: 1
#initial_BLUE: 1
#color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0	# Backlit Screen colour
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0	# Top left Knob colour
#        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3				# Bottom right knob colour

#####################################################################
#   Case Lights
#####################################################################
#[output_pin LIGHTS]
#pin: PA8
#value: 0
#shutdown_value: 0

[gcode_macro lights_on]
gcode:
    SET_PIN PIN=LIGHTS VALUE=1.0

[gcode_macro lights_off]
gcode:
    SET_PIN PIN=LIGHTS VALUE=0.0


#####################################################################
# 	Macros
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT
gcode:
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
    G28                               ; Home all axes
    M104 S{target_bed}                  ; Set bed temperature
    M109 S150                         ; Wait for extuder to reach 150°C (intermediate step)
    M140 S{target_bed}                  ; Set final bed temperature
    G28 Z                             ; Home Z axis again to account for thermal expansion
    BED_MESH_CALIBRATE                ; Calibrate the bed mesh
    CARTOGRAPHER_TOUCH                ; Perform touch probe
    M109 S{target_extruder}             ; Wait for extruder to reach target temperature
    G0 X{x_wait - 50} Y4 F10000                      # Moves to starting point
    G0 Z0.4                                          # Raises Z to 0.4
    G91                                              # Incremental positioning 
    G1 X100 E20 F1000                                # Purge line
    G90                                              # Absolut position

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y} F3600   ; park nozzle at rear
    M117 Finished!
[include moonraker_obico_macros.cfg]
[include nitehawk-sb.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner model default]
#*# model_coef = 1.4728456084981787,
#*# 	1.9376164681347057,
#*# 	0.7265539031220383,
#*# 	-0.22225019761803494,
#*# 	0.36996285749854746,
#*# 	2.121587455253799,
#*# 	-0.5063026529735736,
#*# 	-2.6734380255020502,
#*# 	0.4824390261459817,
#*# 	1.286321426230214
#*# model_domain = 3.2184971525547007e-07,3.3175957688849415e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 43.467206
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.234281, 0.212412, 0.206814, 0.201307, 0.173783, 0.136866, 0.114392, 0.105688, 0.104225, 0.109075, 0.117775, 0.125368, 0.131409, 0.126075, 0.123260, 0.133687, 0.147647, 0.146564, 0.134314, 0.127023
#*# 	  0.156289, 0.142770, 0.148724, 0.148362, 0.126555, 0.094288, 0.073860, 0.072105, 0.074937, 0.086247, 0.100612, 0.121616, 0.125162, 0.124803, 0.127472, 0.141008, 0.159629, 0.159519, 0.155860, 0.152416
#*# 	  0.049969, 0.046378, 0.052008, 0.058285, 0.043742, 0.019883, 0.011797, 0.016495, 0.028271, 0.041750, 0.065144, 0.086109, 0.103945, 0.109928, 0.120160, 0.145237, 0.171397, 0.183034, 0.183899, 0.194257
#*# 	  -0.040830, -0.038497, -0.018053, -0.007593, -0.016513, -0.032660, -0.035919, -0.022793, -0.007219, 0.012140, 0.042496, 0.080213, 0.096328, 0.108691, 0.124047, 0.154722, 0.188294, 0.204957, 0.216139, 0.228656
#*# 	  -0.152044, -0.139202, -0.120814, -0.100634, -0.102287, -0.114284, -0.107435, -0.087388, -0.063917, -0.035954, -0.000816, 0.037169, 0.066900, 0.087953, 0.114756, 0.150560, 0.196350, 0.224297, 0.242066, 0.266458
#*# 	  -0.238639, -0.222049, -0.188382, -0.163455, -0.162108, -0.163364, -0.151316, -0.124846, -0.094398, -0.059593, -0.014752, 0.030727, 0.064745, 0.093237, 0.125484, 0.172308, 0.220870, 0.251666, 0.280930, 0.308016
#*# 	  -0.346764, -0.321866, -0.291496, -0.256525, -0.243680, -0.240945, -0.220970, -0.185930, -0.146695, -0.103441, -0.053112, -0.003627, 0.041209, 0.078337, 0.122961, 0.175463, 0.235864, 0.280439, 0.316379, 0.355087
#*# 	  -0.434353, -0.401191, -0.353540, -0.316140, -0.298092, -0.282835, -0.259046, -0.216563, -0.168095, -0.117508, -0.056335, 0.005457, 0.054236, 0.099619, 0.147990, 0.209287, 0.274307, 0.323301, 0.368780, 0.411742
#*# 	  -0.543897, -0.505254, -0.456888, -0.408374, -0.379495, -0.358605, -0.324519, -0.273834, -0.215722, -0.157255, -0.089240, -0.022623, 0.038508, 0.090187, 0.151197, 0.221154, 0.296919, 0.358953, 0.409791, 0.468015
#*# 	  -0.630413, -0.581297, -0.519294, -0.461908, -0.425159, -0.396914, -0.350658, -0.293751, -0.230569, -0.162872, -0.086350, -0.005794, 0.061014, 0.121798, 0.189039, 0.267263, 0.347748, 0.411715, 0.472956, 0.532139
#*# 	  -0.732308, -0.673576, -0.613200, -0.546098, -0.500486, -0.463502, -0.411528, -0.342721, -0.271933, -0.198143, -0.113361, -0.029064, 0.049796, 0.118440, 0.196548, 0.283868, 0.375693, 0.453082, 0.521963, 0.591844
#*# 	  -0.812732, -0.743289, -0.661027, -0.594131, -0.540403, -0.494061, -0.434977, -0.361313, -0.281678, -0.196424, -0.100684, -0.006185, 0.078317, 0.157473, 0.241204, 0.336399, 0.434597, 0.514667, 0.592465, 0.665362
#*# 	  -0.916659, -0.840785, -0.762103, -0.680157, -0.617984, -0.563774, -0.496594, -0.414902, -0.324000, -0.233123, -0.130758, -0.031455, 0.067340, 0.154139, 0.249450, 0.355826, 0.463605, 0.558551, 0.644546, 0.733708
#*# 	  -0.996441, -0.909884, -0.811629, -0.723540, -0.656913, -0.593010, -0.513824, -0.424194, -0.328511, -0.225388, -0.115156, -0.004961, 0.099078, 0.194774, 0.298526, 0.411719, 0.526175, 0.625479, 0.718590, 0.806382
#*# 	  -1.100101, -1.008236, -0.909503, -0.815062, -0.736275, -0.664738, -0.580870, -0.481627, -0.373583, -0.262173, -0.150952, -0.034087, 0.078865, 0.188731, 0.298027, 0.427067, 0.552738, 0.664724, 0.766418, 0.864808
#*# 	  -1.175719, -1.073739, -0.959720, -0.853330, -0.768556, -0.691473, -0.593834, -0.486460, -0.375129, -0.256764, -0.132003, 0.000530, 0.116650, 0.232305, 0.352161, 0.484005, 0.618851, 0.731972, 0.839269, 0.942188
#*# 	  -1.285413, -1.177256, -1.059239, -0.943033, -0.846594, -0.759182, -0.657215, -0.541941, -0.417269, -0.290028, -0.161894, -0.028213, 0.104986, 0.229612, 0.359654, 0.500976, 0.648416, 0.776333, 0.890229, 1.006136
#*# 	  -1.364745, -1.244021, -1.113041, -0.985498, -0.884250, -0.787887, -0.672890, -0.550988, -0.418425, -0.284668, -0.142577, 0.006624, 0.140774, 0.273188, 0.410341, 0.565293, 0.712110, 0.839818, 0.959770, 1.082757
#*# 	  -1.463625, -1.341401, -1.208463, -1.073337, -0.958078, -0.855540, -0.733550, -0.603611, -0.459003, -0.318602, -0.168862, -0.017859, 0.128628, 0.271903, 0.417222, 0.583875, 0.742056, 0.879710, 1.010234, 1.144475
#*# 	  -1.542959, -1.404131, -1.254984, -1.114849, -0.991523, -0.878933, -0.750821, -0.607017, -0.460740, -0.310768, -0.151992, 0.015937, 0.169494, 0.320805, 0.473584, 0.646097, 0.810421, 0.950319, 1.085333, 1.228976
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 200.0
#*# min_y = 20.0
#*# max_y = 200.0
#*#
#*# [scanner]
#*# scanner_touch_threshold = 3500
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 39.8
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.099
#*# pid_ki = 0.991
#*# pid_kd = 73.739
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.643
#*# pid_ki = 0.837
#*# pid_kd = 1248.418
